#footer
  - var current = (new Date()).getFullYear()
  | © 
  if(theme.since && theme.since != current) 
    theme.since -
  span(itemprop='copyrightYear')= current
  span.author(itemprop='copyrightHolder')= config.author

